@model EngLine.Models.Course

<div class="courses_details_banner">
	<div class="container">
		<div class="row">
			<div class="col-xl-6">
				<div class="course_text">
					<h3>@Model.CourseName</h3>
					<div class="prise">
						<span class="inactive">$89.00</span>
						<span class="active">@Model.Price.ToString("#,##0") VND</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="courses_details_info">
	<div class="container">
		<div class="row">
			<div class="col-xl-7 col-lg-7">
				<div class="single_courses">
					<h3>Mô tả khóa học</h3>
					<p>@Model.Description</p>
					<h3 class="second_title">Nội dung khóa học</h3>
				</div>
				<div class="outline_courses_info">
					<div id="accordion">
						@{
							foreach (var item in ViewBag.Lessons)
							{
								<div class="card">
									<div class="card-header" id="heading_5">
										<h5 class="mb-0">
											<button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse_@item.Id" aria-expanded="false" aria-controls="collapse_@item.Id">
												<i class="fa fa-question-circle-o"></i>
												<span>
													@item.Name
												</span>
											</button>
										</h5>
									</div>
									<div id="collapse_@item.Id" class="collapse" aria-labelledby="heading_5" data-parent="#accordion">
										<div class="card-body">
											@item.Description
										</div>
									</div>
								</div>
							}
						}
					</div>
				</div>
			</div>
			<div class="col-xl-5 col-lg-5">
				<div class="courses_sidebar">
					<div class="video_thumb">
						@if (Model.CoverPhoto == null)
						{
							<img src="~/img/latest_blog/video.png" alt="">
						}
						else
						{
							<img src="@Model.CoverPhoto" alt="@Model.CoverPhoto">
						}
						<a class="popup-video" href="https://www.youtube.com/watch?v=AjgD3CvWzS0">
							<i class="fa fa-play"></i>
						</a>
					</div>
					<div class="author_info">
						<div class="auhor_header">
							<div class="thumb">
								<img src="@ViewBag.Teacher.Photo" alt="" style="height: 50px!important;">
							</div>
							<div class="name">
								<h3>@ViewBag.Teacher.FirstName</h3>
							</div>
						</div>
						<p class="text_info">
							@ViewBag.Teacher.Description
						</p>
						<ul>
							<li><a href="#"> <i class="fa fa-envelope"></i> </a></li>
							<li><a href="#"> <i class="fa fa-twitter"></i> </a></li>
							<li><a href="#"> <i class="fa fa-linkedin"></i> </a></li>
						</ul>
					</div>
					@if (ViewBag.isBought == false)
					{
						<a class="boxed_btn" id="showTestButton">Mua Khóa Học</a>
						<a asp-route-id="@Model.Id" asp-area="default" asp-action="Checkout" asp-controller="ShoppingCart" style="display: none;" id="checkoutLink"></a>
						<a asp-route-testId="@Model.TestId" asp-route-courseId="@Model.Id" asp-area="default" asp-action="TakeTest" asp-controller="Test" style="display: none;" id="testLink"></a>
					}
					else
					{
						<a asp-route-id="@Model.Id" asp-area="default" asp-action="Study" asp-controller="Home" class="boxed_btn">Vào học</a>
					}
				</div>
			</div>
		</div>
	</div>
</div>

@section Scripts {
	<script>
		@if (TempData["OrderSuccessMessage"] != null)
		{
			<text>
				Swal.fire({
					title: "Thành công!",
					text: "Thanh toán thành công",
					icon: "success",
					confirmButtonText: "OK"
				});
			</text>
		};

		@if (TempData["OrderFailedMessage"] != null)
		{
			<text>
				Swal.fire({
					title: "Opps...!",
					text: "Thanh toán thất bại",
					icon: "error",
					confirmButtonText: "OK"
				});
			</text>
		};

		const isTakenTestThisCourse = @Html.Raw(Json.Serialize(ViewBag.IsTakenTestThisCourse));
		const score = @Html.Raw(Json.Serialize(ViewBag.Score));
		const minScore = @Html.Raw(Json.Serialize(ViewBag.MinScore));

		function showTestPrompt() {
			const checkoutLink = document.getElementById('checkoutLink').href;
			const testLink = document.getElementById('testLink').href;

			if (isTakenTestThisCourse) {
				Swal.fire({
					icon: "info",
					title: "Bạn đã hoàn thành bài test!",
					text: `Điểm của bạn là: ${score}. Điểm gợi ý tối thiểu: ${minScore}`,
					showCancelButton: true,
					confirmButtonText: "Làm lại bài test",
					cancelButtonText: "Mua khóa học",
				}).then((result) => {
					if (result.isConfirmed) {
						window.location.href = testLink; // Redirect to retake the test
					} else if (result.dismiss === Swal.DismissReason.cancel) {
						window.location.href = checkoutLink;
					}
				});
			} else {
				Swal.fire({
					icon: "info",
					title: "Làm bài test?",
					text: `Bạn có thể làm bài test đi kèm với khóa học để chắc chắn phù hợp với nó.`,
					showCloseButton: true,
					showCancelButton: true,
					focusConfirm: false,
					cancelButtonText: `<i class="fa-solid fa-cart-shopping"></i>`,
					confirmButtonText: `<i class="fa fa-thumbs-up"></i> Great!`,
				}).then((result) => {
					if (result.isConfirmed) {
						window.location.href = testLink;
					} else if (result.dismiss === Swal.DismissReason.cancel) {
						window.location.href = checkoutLink;
					}
				});
			}
		}

		document.getElementById('showTestButton').addEventListener('click', showTestPrompt);
	</script>
}
