@model EngLine.Models.Course;

<!-- bradcam_area_start -->
<div class="courses_details_banner">
	<div class="container">
		<div class="row">
			<div class="col-xl-6">
				<div class="course_text">
					<h3>@Model.CourseName</h3>
					<div class="prise">
						<span class="inactive">$89.00</span>
						<span class="active">@Model.Price.ToString("#,##0") VND</span>
					</div>
					@* <div class="rating">
					<i class="fa-solid fa-star"></i>
					<i class="fa-solid fa-star"></i>
					<i class="fa-solid fa-star"></i>
					<i class="fa-solid fa-star"></i>
					<i class="fa-solid fa-star"></i>
					<span>(4.5)</span>
					</div> *@
					@* <div class="hours">
					<div class="video">
					<div class="single_video">
					<i class="fa fa-clock-o"></i> <span>12 Videos</span>
					</div>
					<div class="single_video">
					<i class="fa fa-play-circle-o"></i> <span>9 Hours</span>
					</div>
					</div>
					</div> *@
				</div>
			</div>
		</div>
	</div>
</div>
<!-- bradcam_area_end -->

<div class="courses_details_info">
	<div class="container">
		<div class="row">
			<div class="col-xl-7 col-lg-7">
				<div class="single_courses">
					<h3>Mô tả khóa học</h3>
					<p>@Model.Description</p>
					<h3 class="second_title">Nội dung khóa học</h3>
				</div>
				<div class="outline_courses_info">
					<div id="accordion">
						@{
							foreach (var item in ViewBag.Lessons)
							{
								<div class="card">
									<div class="card-header" id="heading_5">
										<h5 class="mb-0">
											<button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse_5" aria-expanded="false" aria-controls="collapse_5">
												<i class="fa fa-question-circle-o"></i>
												<span>
													@item.Name
												</span>
											</button>
										</h5>
									</div>
									<div id="collapse_5" class="collapse" aria-labelledby="heading_5" data-parent="#accordion">
										<div class="card-body">
											@item.Description
										</div>
									</div>
								</div>
							}
						}
					</div>
				</div>
			</div>
			<div class="col-xl-5 col-lg-5">
				<div class="courses_sidebar">
					<div class="video_thumb">
						@if (Model.CoverPhoto == null)
						{
							<img src="~/img/latest_blog/video.png" alt="">
						}
						else
						{
							<img src="@Model.CoverPhoto" alt="@Model.CoverPhoto">
						}
						<a class="popup-video" href="https://www.youtube.com/watch?v=AjgD3CvWzS0">
							<i class="fa fa-play"></i>
						</a>
					</div>
					<div class="author_info">
						<div class="auhor_header">
							<div class="thumb">
								<img src="@ViewBag.Teacher.Photo" alt="" style="height: 50px!important;">
							</div>
							<div class="name">
								<h3>@ViewBag.Teacher.FirstName</h3>
								@* <p>UI/UX Designer</p> *@
							</div>
						</div>
						<p class="text_info">
							@ViewBag.Teacher.Description
						</p>
						<ul>
							<li><a href="#"> <i class="fa fa-envelope"></i> </a></li>
							<li><a href="#"> <i class="fa fa-twitter"></i> </a></li>
							<li><a href="#"> <i class="fa fa-linkedin"></i> </a></li>
						</ul>
					</div>
					@if (ViewBag.isBought == false)
					{
						<a asp-route-id="@Model.Id" asp-area="default" asp-action="Checkout" asp-controller="ShoppingCart" class="boxed_btn">Mua Khóa Học</a>
					}
					else
					{
						<a asp-route-id="@Model.Id" asp-area="default" asp-action="Study" asp-controller="Home" class="boxed_btn">Vào học</a>
					}
					@* <div class="feedback_info">
					<h3>Write your feedback</h3>
					<p>Your rating</p>
					<i class="fa-solid fa-star"></i>
					<i class="fa-solid fa-star"></i>
					<i class="fa-solid fa-star"></i>
					<i class="fa-solid fa-star"></i>
					<i class="fa-solid fa-star"></i>

					<form action="#">
					<textarea name="" id="" cols="30" rows="10" placeholder="Write your feedback"></textarea>
					<button type="submit" class="boxed_btn">Submit</button>
					</form>
					</div> *@
				</div>
			</div>
		</div>
	</div>
</div>

@section Scripts {
	<script>
		@if (TempData["OrderSuccessMessage"] != null)
		{
			<text>
				Swal.fire({
					title: "Thành công!",
					text: "Thanh toán thành công",
					icon: "success",
					confirmButtonText: "OK"
				});
			</text>
		}

		@if (TempData["OrderFailedMessage"] != null)
		{
			<text>
				Swal.fire({
					title: "Opps...!",
					text: "Thanh toán thất bại",
					icon: "error",
					confirmButtonText: "OK"
				});
			</text>
		}
	</script>
}