@model IEnumerable<EngLine.Models.Test>

<h1>Danh sách bài kiểm tra</h1>
<div class="card-body">
	<div class="table-responsive">
		<table class="table table-bordered" id="dataTable">
			<thead>
				<tr>
					<th>
						Tên bài kiểm tra
					</th>
					<th>
						Người tạo
					</th>
					<th>
						Số lượng câu hỏi
					</th>
					<th>
						Tổng điểm
					</th>
					<th>
						Thời gian làm bài
					</th>
					<th>
						Chức năng
					</th>
				</tr>
			</thead>
			<tbody>
				@foreach (var item in Model)
				{
					<tr>
						<td>
							@item.Title
						</td>
						<td>
							<a asp-area="Admin" asp-controller="Teacher" asp-action="Edit" asp-route-id="@item.Teacher.Id">@item.Teacher.FirstName @item.Teacher.LastName</a>
						</td>
						<td>
							@item.Questions.Count()
						</td>
						<td>
							@{
								int totalPoint = 0;
								foreach (var question in item.Questions)
								{
									totalPoint += question.Point;
								}
							}
							@totalPoint
						</td>
						<td>
							@item.TimeLimit.ToString("0.##") phút
						</td>
						<td>
							<a asp-action="Edit" asp-route-id="@item.Id"><i class="fas fa-pencil-alt"></i></a> |
							<a asp-action="Delete" asp-route-id="@item.Id"><i class="far fa-trash-alt"></i></a>
						</td>
					</tr>
				}
			</tbody>
		</table>
	</div>
</div>