@model EngLine.Models.Teacher;

<div style="background-color: #6b2dae; width: 100%; height: 93px;"></div>
<section style="background-color: #eee;">
	<div class="container py-5">
		<div class="row">
			<div class="col-lg-4">
				<div class="card mb-4">
					<div class="card-body text-center">
						@if (Model.Photo != null)
						{
							<img src="@Model.Photo" alt="avatar"
								 class="rounded-circle img-fluid" style="width: 150px;">
						}
						else
						{
							<img src="~/img/team/user-icon-removebg.png" alt="avatar"
								 class="rounded-circle img-fluid" style="width: 150px;">
						}
						<h5 class="my-3">@Model.FirstName @Model.LastName</h5>
						<a asp-area="Admin" asp-controller="Teacher" asp-action="Edit" asp-route-id="@Model.Id"><i class="fa-solid fa-pen-to-square"></i></a>
					</div>
				</div>
				<div class="card mb-4 mb-lg-0">
					<div class="card-body p-0">
						<ul class="list-group list-group-flush rounded-3">
							@foreach (var item in Model.TeacherCertificates)
							{
								<li class="list-group-item d-flex justify-content-between align-items-center p-3">
									<p class="mb-0">@item.Certificate.Name</p>
									<p class="mb-0">@item.Score</p>
								</li>
							}
							<li class="list-group-item d-flex justify-content-between align-items-center p-3">
								<a class="btn btn-primary mb-0" asp-area="Teacher" asp-controller="Manage" asp-action="AddCertificates">Cập nhật chứng chỉ</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-lg-8">
				<div class="card mb-4">
					<div class="card-body">
						<div class="row">
							<div class="col-sm-3">
								<p class="mb-0">Họ tên</p>
							</div>
							<div class="col-sm-9">
								<p class="text-muted mb-0">@Model.FirstName @Model.LastName</p>
							</div>
						</div>
						<hr>
						<div class="row">
							<div class="col-sm-3">
								<p class="mb-0">Email</p>
							</div>
							<div class="col-sm-9">
								<p class="text-muted mb-0">@Model.Email</p>
							</div>
						</div>
						<hr>
						<div class="row">
							<div class="col-sm-3">
								<p class="mb-0">Số điện thoại</p>
							</div>
							<div class="col-sm-9">
								<p class="text-muted mb-0">@Model.PhoneNumber</p>
							</div>
						</div>
						<hr>
						<div class="row">
							<div class="col-sm-3">
								<p class="mb-0">Mô tả bản thân</p>
							</div>
							<div class="col-sm-9">
								<p class="text-muted mb-0">@Model.Description</p>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<div class="card mb-4 mb-md-0">
							<div class="card-body">
								<p class="mb-4">
									<a asp-area="Teacher" asp-controller="Manage" asp-action="AddCourse" class="text-primary font-italic me-1">Thêm</a> Khóa học
								</p>
								@{
									foreach (var item in ViewBag.TeacherCourse)
									{
										<div class="d-flex justify-content-between align-items-center mb-2">
											<p class="mb-0"><a asp-area="Admin" asp-controller="Courses" asp-action="Edit" asp-route-id="@item.Id"><i class="fa-solid fa-pen-to-square"></i></a> @item.CourseName</p>
											<span class="badge badge-primary badge-pill">@item.Price.ToString("#,##0") VND</span>
										</div>
									}
								}
							</div>
						</div>
					</div>

					<div class="col-md-6">
						<div class="card mb-4 mb-md-0">
							<div class="card-body">
								<p class="mb-4">
									<a asp-area="Teacher" asp-controller="Manage" asp-action="AddTest" class="text-primary font-italic me-1">Thêm</a> Bài test
								</p>
								@{
									foreach (var item in ViewBag.TeacherTest)
									{
										<div class="d-flex justify-content-between align-items-center mb-2">
											<p class="mb-0"><a asp-area="Admin" asp-controller="Test" asp-action="Edit" asp-route-id="@item.Id"><i class="fa-solid fa-pen-to-square"></i></a> @item.Title</p>
										</div>
									}
								}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>