@using System.Globalization
@model StudentViewModel

<style>
	body {
		margin: 0;
		color: #2e323c;
		background: #f5f6fa;
		Ngày mua: relative;
		height: 100%;
	}

	.account-settings .user-profile {
		margin: 0 0 1rem 0;
		padding-bottom: 1rem;
		text-align: center;
	}

		.account-settings .user-profile .user-avatar {
			margin: 0 0 1rem 0;
		}

			.account-settings .user-profile .user-avatar img {
				width: 90px;
				height: 90px;
				-webkit-border-radius: 100px;
				-moz-border-radius: 100px;
				border-radius: 100px;
			}

		.account-settings .user-profile h5.user-Tên khóa học {
			margin: 0 0 0.5rem 0;
		}

		.account-settings .user-profile h6.user-email {
			margin: 0;
			font-size: 0.8rem;
			font-weight: 400;
			color: #9fa8b9;
		}

	.account-settings .about {
		margin: 2rem 0 0 0;
		text-align: center;
	}

		.account-settings .about h5 {
			margin: 0 0 15px 0;
			color: #007ae1;
		}

		.account-settings .about p {
			font-size: 0.825rem;
		}

	.form-control {
		border: 1px solid #cfd1d8;
		-webkit-border-radius: 2px;
		-moz-border-radius: 2px;
		border-radius: 2px;
		font-size: .825rem;
		background: #ffffff;
		color: #2e323c;
	}

	.card {
		background: #ffffff;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
		border: 0;
		margin-bottom: 1rem;
	}
</style>
<div class="container">
	<div class="row gutters">
		<div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12">
			<div class="card h-100">
				<div class="card-body">
					<div class="account-settings">
						<div class="user-profile">
							<div class="user-avatar">
								<img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Maxwell Admin">
							</div>
							<h5 class="user-Name">@Model.FirstName @Model.LastName</h5>
							<h6 class="user-email">@Model.Email</h6>
						</div>
						<div class="about">
							<h5>Giới thiệu</h5>
							<p>Tài khoản học sinh EngLine</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12">
			<form asp-controller="Student" asp-action="Edit">
				<input type="hidden" asp-for="Id" />
				<div class="card h-100">
					<div class="card-body">
						<div class="row gutters">
							<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
								<h6 class="mb-2 text-primary">Chi tiết cá nhân</h6>
							</div>
							<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
								<div class="form-group">
									<label asp-for="FirstName">Tên</label>
									<input asp-for="FirstName" type="text" class="form-control" id="FirstName" placeholder="Nhập họ và tên">
								</div>
							</div>
							<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
								<div class="form-group">
									<label asp-for="LastName">Họ, Tên đệm</label>
									<input asp-for="LastName" type="text" class="form-control" id="LastName" placeholder="Nhập họ và tên">
								</div>
							</div>
							<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
								<div class="form-group">
									<label asp-for="Email">Email</label>
									<input asp-for="Email" type="email" class="form-control" id="eMail" placeholder="Nhập email">
								</div>
							</div>
							<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
								<div class="form-group">
									<label asp-for="PhoneNumber">Điện thoại</label>
									<input asp-for="PhoneNumber" type="text" class="form-control" id="PhoneNumber" placeholder="Nhập số điện thoại">
								</div>
							</div>
							<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
								<div class="form-group form-check">
									<label class="form-check-label">
										<input class="form-check-input" asp-for="IsActive" />Khả dụng?
									</label>
								</div>
							</div>
						</div>
						<div class="row gutters">
							<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
								<div class="text-right">
									<a asp-action="Index" type="button" class="btn btn-secondary">Hủy</a>
									<button type="submit" id="submit" name="submit" class="btn btn-primary">Cập nhật</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
<div class="card-body">
	<h4>Khóa học đã mua</h4>
	<div class="table-responsive">
		<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
			<thead>
				<tr>
					<th>Tên khóa học</th>
					<th>Tên giáo viên</th>
					<th>Ngày mua</th>
					<th>Giá tiền</th>
					<th>Điểm kiểm tra</th>
				</tr>
			</thead>
			<tbody>
				@foreach (var item in ViewBag.OrdersStudentBought)
				{
					<tr>
						<td><a asp-area="Admin" asp-controller="Courses" asp-action="Edit" asp-route-id="@item.Course.Id">@item.Course.CourseName</a></td>
						<td>@item.Course.Teacher.FirstName @item.Course.Teacher.LastName</td>
						<td>@item.OrderTime</td>
						<td>@item.Amount.ToString("C", CultureInfo.CreateSpecificCulture("vi-VN"))</td>
						<td>null</td>
					</tr>
				}
			</tbody>
		</table>
	</div>
</div>