@model IEnumerable<StudentViewModel>

@{
	ViewData["Title"] = "Index";
}
<h1>Danh sách tài khoản học sinh</h1>
<table id="datatablesSimple">
	<thead>
		<tr>
			<th>Email</th>
			<th>
				Họ và tên
			</th>
			<th>
				Số điện thoại
			</th>
			<th>
				Khả dụng?
			</th>
			<th>
				Chức năng
			</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.Email)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.FirstName)
					@Html.DisplayFor(modelItem => item.LastName)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.PhoneNumber)
				</td>
				<td>
					@if (item.IsActive == true)
					{
						<p>Có</p>
					}
					else
					{
						<p>Không</p>
					}
				</td>
				<td>
					<a asp-action="Edit" asp-route-id="@item.Id"><i class="fas fa-pencil-alt"></i></a> |
					<a asp-action="Delete" asp-route-id="@item.Id"><i class="far fa-trash-alt"></i></a>
				</td>
			</tr>
		}
	</tbody>
</table>

