@using System.Globalization
@model IEnumerable<EngLine.Models.Course>

<style>
	.profile-image {
		height: 50px;
		width: 50px; /* Ensures the image is a perfect square */
		object-fit: cover; /* Ensures the image covers the entire area */
	}

	.description-column {
		width: 300px; /* Adjust this value as needed */
		white-space: normal;
	}
</style>

<h1>Danh sách khóa học</h1>
<div class="card-body">
	<div class="table-responsive">
		<table class="table table-bordered" id="dataTable">
			<thead>
				<tr>
					<th>Ảnh bìa</th>
					<th>Tên khóa học</th>
					<th>Tên giáo viên</th>
					<th class="description-column">Mô tả</th>
					<th>Giá tiền</th>
					<th>Bài kiểm tra</th>
					<th>Điểm chuẩn</th>
					<th>Chức năng</th>
				</tr>
			</thead>
			<tbody>
				@foreach (var item in Model)
				{
					<tr>
						<td>
							<img src="@item.CoverPhoto" alt="@item.CourseName" class="profile-image">
						</td>
						<td>@item.CourseName</td>
						<td><a asp-area="Admin" asp-controller="Teacher" asp-action="Edit" asp-route-id="@item.Teacher.Id">@item.Teacher.FirstName @item.Teacher.LastName</a></td>
						<td>@Truncate(item.Description, 100)</td>
						<td>@item.Price.ToString("C", CultureInfo.CreateSpecificCulture("vi-VN"))</td>
						<td><a asp-area="Admin" asp-controller="Test" asp-action="Edit" asp-route-id="@item.Test.Id">@item.Test.Title</a></td>
						<td>@item.MinScore</td>
						<td>
							<a asp-action="Edit" asp-route-id="@item.Id"><i class="fas fa-pencil-alt"></i></a> |
							<a asp-action="Delete" asp-route-id="@item.Id"><i class="far fa-trash-alt"></i></a>
						</td>
					</tr>
				}
			</tbody>
		</table>
	</div>
</div>

<script>
	@functions {
		public string Truncate(string input, int maxLength)
		{
			if (string.IsNullOrEmpty(input) || input.Length <= maxLength)
			{
				return input;
			}

			return input.Substring(0, maxLength) + "...";
		}
 }
</script>